@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->
<p>My name is Kyle McMahon, and I am a junior full-stack developer in Ohio.</p>
<p>I grew up and graduated high school in Columbus before moving to Virginia to earn a bachelor's degree in economics from William & Mary. After school, I moved to D.C. and worked as a communications aide on Capitol Hill for several years.</p>
<p>Desire for a career change and a longstanding interest in technology led me to <a href="https://wecancodeit.org/" target="_blank">We Can Code IT</a>, a collaborative, project-based programming boot camp in Cleveland.</p>
<p>I am proficient with the following languages, frameworks and applications:</p>
<ul class="list-inline">
    <li class="label label-primary">C#</li>
    <li class="label label-primary">.NET</li>
    <li class="label label-primary">HTML</li>
    <li class="label label-primary">CSS</li>
    <li class="label label-primary">Bootstrap</li>
    <li class="label label-primary">JavaScript</li>
    <li class="label label-primary">jQuery</li>
    <li class="label label-primary">Swift</li>
    <li class="label label-primary">Visual Studio</li>
    <li class="label label-primary">Xcode</li>
    <li class="label label-primary">Git</li>
</ul>
<p>Please take <a href="~/Content/Documents/kylemcmahonresume.pdf">a copy of my resume</a>.</p>
<blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/tribehackathon?src=hash">#tribehackathon</a> hacker <a href="https://twitter.com/kamcma">@@kamcma</a> combines his love for <a href="https://twitter.com/Indians">@@Indians</a> + tech with his team&#39;s <a href="https://twitter.com/cleLeverageBot">@@cleLeverageBot</a> app. <a href="https://t.co/pHuNqHLB6l">pic.twitter.com/pHuNqHLB6l</a></p>&mdash; Tribe Hackathon 2016 (@@TribeHackathon) <a href="https://twitter.com/TribeHackathon/status/734075087503101952">May 21, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>