@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->

<address>
    <strong>Phone:</strong>   <a href="tel:16143959971">(614) 395-9971</a><br />
    <strong>Email:</strong>   <a href="mailto:kyle.mcmahon@gmail.com">kyle.mcmahon@gmail.com</a><br />
    <strong>Twitter:</strong>   <a href="https://twitter.com/kamcma" target="_blank">@@kamcma</a><br />
    <strong>GitHub:</strong>   <a href="https://github.com/kamcma" target="_blank">github.com/kamcma</a><br />
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/kylemcmahon" target="_blank">facebook.com/kylemcmahon</a><br />
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/kamcma" target="_blank">linkedin.com/in/kamcma</a>
</address>
